@require '~ws/theme/settings.styl'

.root
  composes font-size-minus-1 from 'ws/theme/typography.styl'
  composes background-g50 from 'ws/theme/textures.styl'
  line-height beat(0.6666667)
  $border-width = 1px
  $padding = beat(0.5)
  border $border-width solid #dfdcd8
  padding "calc(%s - %s)" % ($padding $border-width)
  border-radius beat(0.25)
  overflow-x auto
  font-family $code-font

.root.isRunning
  opacity 0.5
  text-align center

.root.isErrored
  border-color #f88

.error
  color #f66
