@require '~ws/theme/settings.styl'

.root
  composes font-size-minus-1 from 'ws/theme/typography.styl'
  composes font-family-code from 'ws/theme/typography.styl'
  composes background-g50 from 'ws/theme/textures.styl'
  line-height beat(0.6666667)
  $border-width = 1px
  $padding = beat(0.5)
  border $border-width solid #dfdcd8
  padding "calc(%s - %s)" % ($padding $border-width)
  border-radius beat(0.25)
  overflow-x auto

.root.isRunning
  opacity 0.5
  text-align center

.root.isErrored
  border-color #f88

.suite
  composes font-family-main from 'ws/theme/typography.styl'
  composes font-size-1 from 'ws/theme/typography.styl'
  line-height beat(1)

.pass, .fail
  composes font-family-main from 'ws/theme/typography.styl'
  &::before
    display inline-block
    width beat(1)
    text-align center

.pass::before
  content '✔︎'
  color #679A3C /* ไทยโทน: เขียวถั่ว */

.fail::before
  content '✘'

.error
.fail
  color #BD2329 /* ไทยโทน: ก้ามปูอสุรา */
