@require '~ws/theme/settings.styl'
@require '~ws/theme/texture-classes.styl'
@require '~ws/theme/typography-classes.styl'

$p = ':global(.¶)'
$h1 = ':global(.๑)'
$h2 = ':global(.๒)'
$h3 = ':global(.๓)'
$h4 = ':global(.๔)'
$h5 = ':global(.๕)'
$h6 = ':global(.๖)'
$ul = ':global(.•)'
$ol = ':global(.№)'
$li = ':global(.·)'
$codeblock = ':global(.❯)'
$pre = ':global(.🄰)'
$code = ':global(.𝚊)'
$hr = ':global(.—)'
$blockquote = ':global(.❝)'
$footnote = ':global(.※)'
$cr = ':global(.↩︎)'

all-types()
  {$h1}, {$h2}, {$h3}, {$h4}, {$h5}, {$h6}, {$p}, {$ul}, {$ol}, {$li}, {$blockquote}, {$pre}
    {block}

+all-types()
  margin-bottom 0
  margin-left 0
  margin-right 0
  &:first-child
    margin-top 0

{$h1}
  @extend $font-size-5
{$h2}
  @extend $font-size-4
{$h3}
  @extend $font-size-3
{$h4}
  @extend $font-size-2
{$h5}
  @extend $font-size-1
{$h6}
  @extend $font-size-0
{$ul}
  list-style none
{$ol}
  list-style-type thai
{$li}
  position relative
{$ul} > {$li}::before
  display inline-block
  position absolute
  content "·"
  left -1em
  transform scale(1.5)
  transform-origin left
{$hr}
  height 0
  background none
  border-bottom 0
  border-right 0
  border-left 0
  margin-bottom -1px
  @extend $divider
{$cr}
  margin-left 0.1em
  margin-right 0.1em
{$code}
  font-family $code-font
  font-size 85%

:global(.footnotes) > {$ol}
  list-style-type decimal
:global(.footnote-ref)
  font-weight 600
  > a
    color inherit
    opacity 0.5

setup-typography-rhythm(size)
  :global(.△):not(:first-child),
  :global(.footnotes-list)
    margin-top size
  :global(.▷)
    padding-left (size)
  {$li}
    padding-left (size / 4)
    &:not(:first-child)
      margin-top (size / 2)
    &:not(:first-child) > {$p}
      margin-top (size)
  {$h1} + {$h2}
    margin-top (size / 2)
  :global(.☐) > figure
    margin-top 0
    margin-bottom 0
    &:not(:first-child)
      margin-top size

.root
  display block
  word-wrap break-word

  :global
    sup.footnote-ref
      vertical-align baseline
      display inline-block
      position relative
      top -1ex
      > a
        text-decoration none

    a.footnote-backref
      text-decoration none

.root.is-main > :global(.☐) > :global(.‼︎),
.root.is-main > :global(.☐) > figure
  width 700px
  box-sizing border-box
  max-width "calc(100vw - %s)" % (beat(0.5))
  margin-left auto
  margin-right auto

.size-normal
  composes font-size-1 from 'ws/theme/typography.styl'
  line-height beat(1)
  setup-typography-rhythm(beat(1))
  :global(.footnotes)
    @extend $font-size-0
    line-height beat(5 / 6)
    > {$ol} > {$li} > {$p}:not(:first-child)
      margin-top beat(5 / 6)

:global(.✎)
  $border-color = #E5D028
  $border-width = 1px
  $padding = beat(0.5 * 5 / 6)
  border $border-width solid $border-color /* ไทยโทน: เหลืองไพล */
  padding "calc(%s - %s)" % ($padding $border-width)
  border-radius beat(0.25)
  background lighten($border-color, 90%)
  @extend $font-size-0
  line-height beat(5 / 6)
  > {$p}:not(:first-child)
    margin-top beat(5 / 6)

.lazyWidget
  composes font-size-minus-1 from 'ws/theme/typography.styl'
  composes text-center from 'ws/theme/textures.styl'
  line-height beat(0.6666667)
  $border-width = 2px
  $padding = beat(0.5)
  border $border-width dashed #dfdcd8
  padding "calc(%s - %s)" % ($padding $border-width)
  border-radius beat(0.25)
  overflow-x auto

.isLoading
  composes color-g500 from 'ws/theme/textures.styl'
