@require '~ws/theme/settings.styl'

:root
html
  font-size $base-font-size
  @media (max-width: 480px)
    font-size ($base-font-size * 6 / 7)

body
  margin 0
  padding 0
  line-height beat(1)
  font-family $main-font
  background #fff
  color #353433
  &:hover:global(.リズム)
    $rhythm = beat(1)
    $prerhythm = beat(0.9)
    $color = lighten(#605850, 90%)
    &::after
      position fixed
      top 0
      right 0
      bottom 0
      left 0
      background-image repeating-linear-gradient(to bottom, rgba(black, 0) 0px, rgba(black, 0) $prerhythm, rgba(black, 0.1) $rhythm)
      pointer-events none
      content ''

a
  color #069 /* ไทยโทน: ฟ้า */

.root
  display block

.contents
  display block

.header
  composes font-size-0 from 'ws/theme/typography.styl'
  composes background-g100 from 'ws/theme/textures.styl'
  composes color-g600 from 'ws/theme/textures.styl'
  padding 0 beat(0.25)
  height beat(1)
  > a
    font-weight bold
    color inherit
    text-decoration none

.footer
  display block
  margin-top beat(1)
  margin-bottom beat(0.5)
  composes font-size-0 from 'ws/theme/typography.styl'
  composes color-dim from 'ws/theme/textures.styl'
  composes text-center from 'ws/theme/textures.styl'
