@require './settings.styl'

.brackets
  fill #DA3567

.wand
  fill #A60035

.wand-fill
  fill white

.stars
  fill #E296AD

.isMonochrome
  .brackets
    fill $color-g300
  .wand
    fill $color-g500
  .stars
    fill $color-g200
