@require '~ws/theme/settings.styl'

.root
  composes background-g50 from './textures.styl'
  text-align center
  margin-bottom beat(1)
  padding-top beat(0.5)
  padding-bottom beat(1)

.title
  composes font-size-7 from './typography.styl'
  composes color-g600 from './textures.styl'
  margin 0
  font-weight 200

.subtitle
  composes font-size-3 from './typography.styl'
  composes color-g600 from './textures.styl'
  margin 0
  font-weight 200
  font-family $thai-head-font
