@require '~ws/theme/settings.styl'

.root
  background rgba(#f5f4f3, 0.5)
  text-align center
  margin-bottom beat(1)
  padding-top beat(0.5)
  padding-bottom beat(1)

.title
  composes font-size-7 from './typography.styl'
  margin 0
  font-weight 200

.subtitle
  composes font-size-3 from './typography.styl'
  margin 0
  font-weight 200
  font-family $thai-head-font
