
$base-font-size = 21px
$base-line-height = 35px
$main-font = Source Sans Pro, Segoe UI, CS ChatThai, Lucida Grande, sans-serif
$code-font = Roboto Mono, Andale Mono, sans-serif
$thai-head-font = Kanit, Thonburi, Leelawadee, Lucida Grande, sans-serif

beat(n)
  return n * 1rem * ($base-line-height / $base-font-size)

lh(n)
  return 1em * ($base-line-height / $base-font-size)
