@require './settings.styl'
@require './texture-classes.styl'

.background-g50
  background-color $color-background-g50

.background-g100
  background-color $color-background-g100

.background-g150
  background-color $color-background-g150

.background-g200
  background-color $color-background-g200

.text-center
  text-align center

.color-dim
  @extend $$color-dim

.color-g300
  color $color-g300

.color-g400
  color $color-g400

.color-g500
  color $color-g500

.color-g600
  color $color-g600

.color-g700
  color $color-g700

.color-g800
  color #353433
