@require './texture-classes.styl'

$main-gray = #f5f4f3

.background-g50
  background-color mix($main-gray, white)

.background-g100
  background-color $main-gray

.background-g150
  background-color darken($main-gray, 5%)

.background-g200
  background-color darken($main-gray, 10%)

.text-center
  text-align center

.color-dim
  @extend $color-dim

.color-g300
  color darken($main-gray, 30%)

.color-g400
  color darken($main-gray, 40%)

.color-g500
  color darken($main-gray, 50%)

.color-g600
  color darken($main-gray, 60%)

.color-g700
  color darken($main-gray, 70%)

.color-g800
  color #353433
