@require '~ws/theme/settings.styl'

$normal-ratio = 6 / 5

set-font-size(size)
  font-size size
  wanted-line-height = (size * $base-font-size)px * ($base-line-height / $base-font-size)
  beats = unit(round((wanted-line-height / $base-line-height) * 2) / 2, '')
  line-height beat(beats)

set-font-size-exponent(exponent)
  set-font-size 1rem * ($normal-ratio ** (exponent - 1))
  @media (max-width: 960px)
    set-font-size 1rem * ((7 / 6) ** (exponent - 1))
  @media (max-width: 720px)
    set-font-size 1rem * ((9 / 8) ** (exponent - 1))

$font-size-minus-1
  font-size (1rem / $normal-ratio / $normal-ratio)

$font-size-0
  font-size (1rem / $normal-ratio)

$font-size-1
  set-font-size-exponent(1)

$font-size-2
  set-font-size-exponent(2)

$font-size-3
  set-font-size-exponent(3)

$font-size-4
  set-font-size-exponent(4)

$font-size-5
  set-font-size-exponent(5)

$font-size-6
  set-font-size-exponent(6)

$font-size-7
  set-font-size-exponent(7)
