
.cm-keyword
  color #8A6BA1 /* ไทยโทน: พวงอังกาบ */
  font-weight bold
.cm-string
  color #C97D30 /* ไทยโทน: มะตูมสุก */
.cm-number
.cm-atom
  color #C83B6E /* ไทยโทน: เกสรชมพู่ */
.cm-comment
  color #ADA792 /* ไทยโทน: นวลเทา */
