
:global
  .cm-keyword
    color #006699 /* ไทยโทน: ฟ้า */
    font-weight bold
  .cm-string
    color #C97D30 /* ไทยโทน: มะตูมสุก */
  .cm-number
  .cm-atom
    color #C83B6E /* ไทยโทน: เกสรชมพู่ */
