@require '~ws/site/settings.styl'

:root
html
  font-size $base-font-size
  @media (max-width: 480px)
    font-size ($base-font-size * 6 / 7)

body
  margin 0
  padding 0
  line-height beat(1)
  font-family $main-font
  background #fff
  color #353433
  &:global(.リズム)
    $rhythm = beat(1)
    $prerhythm = beat(0.9)
    $color = lighten(#605850, 90%)
    background-image repeating-linear-gradient(to bottom, #fff 0px, #fff $prerhythm, $color $rhythm)

a
  color #069 /* ไทยโทน: ฟ้า */

.root
  display block

.contents
  display block

.header
  composes background-g100 from 'ws/site/textures.styl'
  composes font-size-0 from 'ws/site/typography.styl'
  color #605850
  padding 0 beat(0.25)
  height beat(1)
  > a
    font-weight bold
    color inherit
    text-decoration none

.footer
  display block
  margin-top beat(1)
  margin-bottom beat(0.5)
  composes font-size-0 from 'ws/site/typography.styl'
  composes color-dim from 'ws/site/textures.styl'
  composes text-center from 'ws/site/textures.styl'
