
$base-font-size = 21px
$base-line-height = 35px
$main-font = Source Sans Pro, Segoe UI, Lucida Grande, CS ChatThai, sans-serif
$code-font = Andale Mono, sans-serif

beat(n)
  return n * 1rem * ($base-line-height / $base-font-size)

lh(n)
  return 1em * ($base-line-height / $base-font-size)
