@require '~site/settings.styl'

.root
  display block
  margin-top beat(1)
  margin-bottom beat(1)

.title
  composes reset from './textures.styl'
  composes text-center from './textures.styl'
  composes font-size-5 from './typography.styl'
  margin-top 0
  margin-bottom 0
